<h1>Articles</h1>

<ul>
<%# Reference/access instance variable @articles to access data and replace html content with it  %>
<%# use ERB tags <%  and <%=  to evaluate enclosed ruby code (similar to EJS) %>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>    
    </li>
  <% end %>
</ul>